<mat-sidenav-container [autosize]="true" class="min-h-full max-w-7xl mx-auto">
  <mat-sidenav mode="side" opened class="p-6">
    <app-filters (showCategory)="onShowCategory($event)"></app-filters>
  </mat-sidenav>
  <mat-sidenav-content class="p-6 border-x min-h-screen">
    <app-products-header
      (itemsCountChange)="onItemsCountChange($event)"
      (columsCountChange)="onColumnsCountChange($event)"
      (sortChange)="onSortChange($event)"
    ></app-products-header>
    <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
      <mat-grid-tile *ngFor="let product of products">
        <!-- * Card of the product -->
        <app-product-box
          [product]="product"
          (addToCart)="onAddToCart($event)"
          class="w-full"
          [fullWidthMode]="cols === 1"
        ></app-product-box>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
